<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('add_action') }}" method="get">
        <label for="actionNameInput">Enter Action Name:</label>
        <input id="actionNameInput" name="name">
        <button type="submit">Enter</button>
    </form>


    <a href="{{ url_for('all_actions') }}"><button>All Actions</button></a>
</body>
</html>