<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stopwatch homepage</title>
</head>
<body>

    {% if active_segment %}
        <h2>Active Segment</h2>
        <p>Duration: {{ active_segment.str_duration }}</p>

        <a href="{{ url_for('start_segment') }}"><button>Start new segment</button></a>
        <a href="{{ url_for('end_segment') }}"><button>End active segment</button></a>
        <a href="{{ url_for('delete_active_segment') }}"><button>Delete active segment</button></a>

        <hr>

        <form action="{{ url_for('add_note') }}" method="get">
        <label for="noteTextInput">Enter Note Text:</label>
        <input id="noteTextInput" name="note_text">
        <button type="submit">Enter</button>
        </form>

        <h2>Notes</h2>
        {% if segment_notes%}
            <ul>
            {%for note in segment_notes %}
                <li>{{ note.text }}</li>
                <li>{{ note.str_elapsed }}</li>
            {%endfor%}
            </ul>
        {% endif %}

    {% else %}
        <h2>No active segment</h2>
        <a href="{{ url_for('start_segment') }}"><button>Start new segment</button></a>
        <a href="{{ url_for('end_segment') }}"><button>End active segment</button></a>
        <a href="{{ url_for('delete_active_segment') }}"><button>Delete active segment</button></a>
    {% endif %}
</body>
</html>